[user]
	email = joetalbott@gmail.com
	name = Joe Talbott
[push]
	default = simple
[url "git+ssh://joetalbott@git.launchpad.net/"]
	insteadof = lp:
[url "git+ssh://joetalbott@git.launchpad.net/~joetalbott/+git/"]
	insteadof = lpme:
