.bash_history
.cache
Downloads
git
.lesshst
.python_history
.viminfo
www
bzr
src
environments
iso
.bzr.log
.canonistack
.gnupg
.hpcloud-rc
.juju
.lp_creds-rc
.novaclient
.pip
.screenrc
.ssh
.ubuntu-ci
.vim/.netrwhist
.virsh
