[user]
	email = joseph.talbott@broadcom.com
	name = Joe Talbott
[push]
	default = simple
[url "git+ssh://joetalbott@git.launchpad.net/"]
	insteadof = lp:
[url "git+ssh://joetalbott@git.launchpad.net/~joetalbott/+git/"]
	insteadof = lpme:
[url "https://www.github.com/"]
	insteadof = gh:
[core]
	excludesfile = ~/.gitignore-global
[alias]
	br = branch
	st = status
	co = checkout
	ci = commit
	graph = log --oneline --graph
