[user]
	email = joetalbott@gmail.com
	name = Joe Talbott
[push]
	default = simple
[url "git+ssh://joetalbott@git.launchpad.net/"]
	insteadof = lp:
[url "git+ssh://joetalbott@git.launchpad.net/~joetalbott/+git/"]
	insteadof = lpme:
[url "https://www.github.com/"]
	insteadof = gh:
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	graph = log --oneline --graph
