.sudo_as_admin_successful
.bash_history
.cache
Downloads
git
.lesshst
.python_history
.viminfo
www
bzr
src
environments
iso
.bzr.log
.canonistack
.gnupg
.hpcloud-rc
.juju
.lp_creds-rc
.novaclient
.pip
.screenrc
.ssh
.ubuntu-ci
.vim/.netrwhist
.virsh

.ICEauthority
.Xauthority
.adobe/
.android/
.apport-ignore.xml
.bazaar/lock
.byobu/
.check_irssi.dat
.compiz/
.config/
.dbus/
.dmrc
.gconf/
.gimp-2.8/
.gstreamer-0.10/
.hplip/
.hushlogin
.icewm/
.icons/
.irssi/
.launchpad.rc
.launchpadlib/
.local/
.macromedia/
.mediatomb/
.mozilla/
.mutt/
.npm/
.openvpn-qalab/
.orig/
.phablet_accepted
.pki/
.pyhist
.remmina/
.sane/
.speech-dispatcher/
.sqlite_history
.subversion/
.thumbnails/
.thunderbird/
.vim-old/
.virt-manager/
.virtualenvs/
.xbmc/
.xprofile.dis
.xsession-errors*
Documents/
manuals/
irclogs/

*.asc
canonical
*.css
data
docs
*.gif
*.gz
home
*.html
images
*.jpg
*.js
*.json
*.log
*.mp3
.mutt*
node_modules
old_home
*.out
*.patch
*.pdf
*.png
proj
*.py
*.svg
text
*.tgz
tmp
*.txt
*.xz
.aspell.*
.dvdcss/
.dvdrip*
Videos/
dvdrip-data/
junk/
examples.desktop
